<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header>
        <div class="nav-item">
            <div class="nav-logo">
                <img src="./images/Fitness Freak.png" class="logo" alt="logo">
            </div>
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-icon">
                <a href=""><i class="fa-brands fa-opencart"></i></a>
            </div>
            <div class="btn">
                <button type="button" routerLink="/login-screen">Login/Sign Up</button>
            </div>
    
        </div>
    
    </header>
</body>
</html>


