<div class="footer-container">
    <div class="footer-section brand-info">
        <h2>Caffeine</h2>
        <p>Enjoy Better And Better Quality Coffee With The Coffee Nook.</p>
    </div>

    <div class="footer-section contact-info">
        <h3>Contact Us</h3>
        <p><span style="color: #ccb19c;"> Email:thecoffenook.Com</span></p>
        <p style="color: #ccb19c;">Call: (+91) 8690386087</p>
        <p style="color: #ccb19c;">Text: (+91) 8690386087</p>
        <p style="color: #ccb19c;">Lovely Professional university<br>Jalandhar, Punjab</p>
    </div>

    <div class="footer-section media-section">
        <img src="https://neurosciencenews.com/files/2023/06/coffee-brain-caffeine-neuroscincces.jpg" style="width: 200px;">
    </div>
</div>
