<app-item-header>
</app-item-header>
<div class="container">

    <div class="recommendations">
        <div class="section-header">
            <h2>Bestseller</h2>
        </div>

        <div class="recommendation-cards">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPRrDP0oxJBIXFxo5XwbI8wk61hPnw97YFaw&s" class="product-image">
                <h3>Cappuccino</h3>
                <p>SHORT(237 mL)</p>
                <p class="price">₹ 283.50</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdJckFsf14TpC_7R9IPm8T3EK1WZ-myGvksQ&s" class="product-image">
                <h3>Hot Chocolate</h3>
                <p>SHORT(237 mL) 284 kcal</p>
                <p class="price">₹ 309.75</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://www.allrecipes.com/thmb/uzxCGTc-5WCUZnZ7BUcYcmWKxjo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/AR-48974-vanilla-milkshake-hero-4x3-c815295c714f41f6b17b104e7403a53b.jpg" class="product-image">
                <h3>Vanilla Milkshake</h3>
                <p>TALL(354 mL) 531 kcal</p>
                <p class="price">₹ 378.00</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://images.news18.com/ibnlive/uploads/2024/01/image-76-2024-01-c4b36ce27d9508ae9aa4b2f55a0b220f.jpg?impolicy=website&width=640&height=480" class="product-image">
                <h3>Coffee</h3>
                <p>SHORT(237 mL)</p>
                <p class="price">₹ 283.50</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4GVeub1XtUrSEtVuRXn4XFti3U6Vxk9d3Jg&s" class="product-image">
                <h3>Cold Brew Black</h3>
                <p>SHORT(237 mL) 284 kcal</p>
                <p class="price">₹ 309.75</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>
        </div>
    </div>




    <div class="recommendations">
        <div class="section-header">
            <h2>Sandwiches & Wraps</h2>
        </div>

        <div class="recommendation-cards">
            <div class="card">
                <img src="https://i.ytimg.com/vi/AI9Plpnk2eo/sddefault.jpg" class="product-image">
                <h3>Paneer Sandwich</h3>
                <p>2 Pes</p>
                <p class="price">₹ 250.50</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://spicecravings.com/wp-content/uploads/2020/12/Paneer-kathi-Roll-Featured-1-500x375.jpg" class="product-image">
                <h3>Paneer Wrap</h3>
                <p>1 Pes 284 kcal</p>
                <p class="price">₹ 300.75</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzDHd_U2ziKCQw_-QtxHcxoVjLCqE1UHLN6g&s" class="product-image">
                <h3>Veg Wrap</h3>
                <p>1 pes 200 kcal</p>
                <p class="price">₹ 200.00</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQFiSZ9xUKEitM7VPQbKZIuOHGZXDYTcsxIA&s" class="product-image">
                <h3>Veg Sandwich</h3>
                <p>2 Pes</p>
                <p class="price">₹ 300.50</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK41JEhN3C4EdMldgBBi3HqkhabREXqKTgCA&s" class="product-image">
                <h3>Tandoori Paneer sandwich</h3>
                <p>2 Pes 284 kcal</p>
                <p class="price">₹ 400.75</p>
                <button routerLink="/order" class="add-item-btn">Add Item</button>
            </div>
        </div>
    </div>

</div>
