  .container {
      background: pink;
      padding: 20px;
  }

  .row {
      display: flex;
      flex-wrap: nowrap;
  }

  .Barista-Recommends-container {
      margin-top: 30px;
      display: flex;
      flex-wrap: nowrap;
  }

  .image-barista-recommands {
      margin-left: 200px;
      width: 150px;
  }

  .Barista-Recommends-container {
      border-color: black;
  }

  .recommendations {
      background-color: #f4f4f4;
      padding: 20px;
      border-radius: 8px;
  }

  .section-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }

  .section-header h2 {
      font-size: 1.8em;
      font-weight: bold;
  }

  .recommendation-cards {
      display: flex;
      gap: 20px;
  }

  .card {
      background-color: white;
      padding: 15px;
      border-radius: 10px;
      width: 300px;
      text-align: center;
  }

  .product-image {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
  }

  h3 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 10px 0;
  }

  p {
      font-size: 0.9em;
      color: #555;
  }

  .price {
      font-size: 1.2em;
      color: #000;
      font-weight: bold;
  }

  .add-item-btn {
      background-color: #006341;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      margin-top: 10px;
      font-size: 1em;
  }

  .add-item-btn:hover {
      background-color: #004f29;
  }
