<section class="thank-you">
    <div class="container">
        <h2>Thank You for Your Order!</h2>
        <p>Your order has been successfully placed. We appreciate your trust in ***The Coffee Nook***</p>

        <div class="order-details">
            <h3>Order Summary</h3>
            <p><strong>Order Number:</strong> #86</p>
            <p><strong>Estimated Delivery:</strong> 30 Minutes</p>

            <h3>Shipping Address</h3>
            <p>Priyansh Bansal</p>
            <p>Lovely Professional university, Jalandhar</p>
            <p>Phone: 8690386087</p>

            <h3>Items Ordered</h3>
            <ul>
                <li> Cappuccino - ₹283.5</li>
                <li>Onion Pizza - ₹120</li>
                <li>Vanilla MilkShake - ₹378</li>
            </ul>

            <div class="total">
                <p><strong>Total Paid:</strong> ₹781.5</p>
            </div>
        </div>

        <button routerLink="/home" class="back-home-btn">Back to Home</button>
    </div>
</section>
