<div class="container">
    <div class="row">
        <div class="col">
            <button routerLink="/bestseller" class="btn">Bestseller</button>
        </div>
        <div class="col">
            <button routerLink="/drinks" class="btn">Drinks</button>
        </div>
        <div class="col">
            <button routerLink="/food" class="btn">Food</button>
        </div>
        <div class="col">
            <button routerLink="/merchandise" class="btn">Merchandise</button>
        </div>
        <div class="col">
            <button routerLink="/coffee-at-home" class="btn">Coffee at home</button>
        </div>
        <div class="col">
            <button routerLink="/ready-to-eat" class="btn">Ready to eat</button>
        </div>
    </div>
</div>