<section class="place-order">
    <div class="container">
        <h2>Place Your Order</h2>

        <div class="order-summary">
            <h3>Order Summary</h3>
            <div class="order-item">
                <p>Capachuno</p>
                <span>₹283.5</span>
            </div>
            <div class="order-item">
                <p>Onion Pizza</p>
                <span>₹120</span>
            </div>
            <div class="order-item">
                <p>Vanillla Milkshake</p>
                <span>₹378</span>
            </div>
            <div class="order-total">
                <p>Total</p>
                <span>₹781.5</span>
            </div>
        </div>

        <div class="customer-info">
            <h3>Shipping Details</h3>
            <form>
                <label>Full Name</label>
                <input type="text" placeholder="Enter your full name" required>

                <label>Address</label>
                <input type="text" placeholder="Enter your address" required>

                <label>City</label>
                <input type="text" placeholder="Enter your city" required>

                <label>Phone Number</label>
                <input type="number" placeholder="Enter your phone number" required>



                <button routerLink="/thank-you" class="place-order-btn">Place Order</button>
            </form>
        </div>
    </div>
</section>
