<div class="container-1">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpLx-fD2aE1_QBv_HlfpvYCEs6WsgmYZB9Xw&s" class="coffee-image">
    <div>
        <h2 class="description">Description</h2>

        <p class="paragraph">Cappuccino is a classic Italian coffee drink, made with equal parts espresso, steamed milk, and a layer of frothy milk foam on top. Known for its rich and balanced flavor, it offers a creamy texture that enhances the bold espresso taste. Often
            enjoyed in the morning, cappuccino can be customized with a sprinkle of cinnamon or cocoa powder for an extra touch of flavor. At The Coffee Nook, we craft this popular drink to perfection, providing coffee lovers with a smooth, velvety experience
            that blends milk and espresso in perfect harmony.</p>
        <h2 style="margin-left: 500px;">These are the products used to make a Cappuchuno:</h2>
        <ul style="margin-left: 480px;">
            <li *ngFor="let item of items">{{ item }}</li>
        </ul>
    </div>
</div>
